<% include navs/header.ejs %>

<head>
  <link href="/assets/css/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 -->
  <script src="/assets/js/videojs-ie8.min.js"></script>
</head>
<style>
.video-js {
    position: relative !important;
    width: 100% !important;
    
}
.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
</style>
<body>
  <video id="my-video" class="video-js" controls preload="auto" width="auto" height="auto"
  poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="http://<%=data[0]%>:3000/video_stream/<%=data[1]%>/<%=data[2]%>" type='video/mp4'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>

  <script src="/assets/js/video.js"></script>
</body>